.wrap {
  background-image: url("../assets/images/background-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  .texts {
    padding: 162px 116px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
      color: #2C2D2E;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Montserrat;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 13px;
    }

    h3 {
      color: #2C2D2E;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Montserrat;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }

    span {
      width: 582px;
      color: #2C2D2E;
      font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    button {
      width: 102px;
      padding: 10px 20px;
      border-radius: 4px;
      background: #EF7C00;
      border: none;
      color: var(--text-color-text-contrast, #FFF);
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      cursor: pointer;
      transition: all 0.4s linear;
    }

    button:hover {
      background-color: #9c5304;
    }
  }
}



.slider {
  .slick-dots {
    background-color: transparent;
    position: absolute;
    bottom: 50px;
    color: #EF7C00;
    text-align: center;

    li {
      background-color: #EF7C00 !important;
    }
  }

  .slick-next {
    background-color: #EF7C00 !important;
    position: absolute;
    // left: 20px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .slick-prev {
    background-color: #EF7C00 !important;
    position: absolute;
    bottom: 25px;
    left: 5px;
    z-index: 999;
    width: 50px;
    height: 50px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
}